<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<button (click)="getInit()">Get Depart Data</button>

<!-- {{ departmentData | json }} -->
<!-- <div *ngFor="let item of departmentData | keyvalue">
  {{item | json }}
  
</div>  -->
<!-- {{ resultShow | json}} -->
<button (click)="testSearch()">Search RX </button>
<hr>
<table border="1" style="width:100%">
  <tr>
    <td>แผนกสินค้า</td>
    <td>:</td>
    <td>
      <select name="department" (blur)="searchCategory()" 
      [(ngModel)]='departmentName' >
        <option *ngFor="let item of departmentData" value={{item.categorycode}}>
          {{ item.categoryDesc }}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>ประเภทสินค้า</td>
    <td></td>
    <td>
      <select name="category" (blur)="searchGroup()" [(ngModel)]='categoryName'>
      <option *ngFor="let item of categoryData" value={{item.categorycode}}>
        {{ item.categoryDesc }}
      </option>
    </select></td>
  </tr>
  <tr>
    <td>กลุ่มสินค้า</td>
    <td></td>
    <td><select name="groupname" >
      <option *ngFor="let item of  groupData">
        {{ item.categoryDesc }}
      </option>
    </select></td>
  </tr>
</table> 

<hr>
<h2>Test</h2>
<table border=1 width=100%>

  <tr *ngFor ="let d of resultShow">
   <td>{{d.mainImageURL}}</td>
  </tr>

</table>
 

<!-- {{ resultShow |json}} -->
