<p>
  contactus works!
  <button (click)="setText()">set</button>
</p>
<button (click)="setisLoading()">Show Wait</button>
Text1
<input
  (appPkDirective)="resultShow = $event"
  [myurlcode]="'categorymaster'"
  type="text"
  [(ngModel)]="sText"
/>
<br />
Text2
<input
  (appDiRect2)="resultShow2 = $event"
  [myurlcodeA]="'bankthai'"
  type="text"
  [(ngModel)]="sText2"
  id="mText2"
/>

<!-- <input type="text" [(ngModel)]="resultShow[0].name" /> -->
<ng-container *ngIf="isLoading">
  <div class="waitContainer">
    <div class="ring">
      รอสักครู่..
      <span></span>
    </div>
  </div>
</ng-container>
<hr />

<button (click)="StopWating()">Hide</button>
DataShow:: <br />
{{ resultShow | json }}
<hr />
DataShow-2 :: <br />
{{ resultShow2 | json }}

<hr />
Status :: {{ isLoading }}
