<form [formGroup]="jobForm" (ngSubmit)="onSubmit()" >
  <div class="p-fluid grid">
    <div class="field col-12 md:col-12">
      <label style="margin-bottom:8px" for="inputmask"
        >URL ของสินค้าตัวนี้ จากร้านค้า</label
      >
      <input
        type="text"
        id="inputtext"
        pInputText      
        formControlName="categoryCode"
      />

      <span
        *ngIf="
          jobForm.get('categoryCode')?.invalid &&
          jobForm.controls['categoryCode'].dirty &&
          jobForm.controls['categoryCode'].touched
        "
        class="p-error"
      >
        ต้องป้อน ชื่อลูกค้า..
      </span>
    </div>
  </div>

  <button type="submit" [disabled]="!jobForm.valid" class="btn-block btn-primary">Submit</button>
</form>
