<form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
  <p-dropdown
    [options]="department"
    [(ngModel)]="selectedCity1"
    optionLabel="name"
    optionValue="code"
    (click)="getCategory()"
    formControlName="departmentCode"
    >AsAAA</p-dropdown
  >
  <p-dropdown
    [options]="category"
    [(ngModel)]="selectedCategory"
    optionLabel="name"
    optionValue="code"
    [showClear]="true"
    (click)="getgroupItem()"
    formControlName="categoryCode"
    >AsAAA</p-dropdown
  >

  <p-dropdown
    [options]="groupItem"
    [(ngModel)]="selectedgroupItem"
    optionLabel="name"
    optionValue="code"
    [showClear]="true"
    formControlName="groupCode"
    >AsAAA</p-dropdown
  >

  <!--   
  <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" placeholder="Select a City" optionLabel="name"
	[showClear]="true"></p-dropdown>  -->

  <div class="p-fluid grid" style="margin-top:40px">
    <div class="field col-12 md:col-12">
      <label style="margin-bottom:8px" for="inputmask"
        >URL ของสินค้าตัวนี้ จากร้านค้า</label
      >
      <input
        type="text"
        id="inputtext"
        pInputText
        formControlName="categoryCode"
      />

      <span
        *ngIf="
          jobForm.get('categoryCode')?.invalid &&
          jobForm.controls['categoryCode'].dirty &&
          jobForm.controls['categoryCode'].touched
        "
        class="p-error"
      >
        ต้องป้อน ชื่อลูกค้า..
      </span>
    </div>
  </div>

  <button
    type="submit"
    [disabled]="!jobForm.valid"
    class="btn-block btn-primary"
  >
    Submit
  </button>
</form>
Select {{ jobForm.value | json }}
